$container-color: #fff;
$side-button-color: #ededed;
$icon-font-size: 26px;
$icon-color: #474754;
$icon-hover-color: #000000;

body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

canvas {
    display: block;
    touch-action: none;
    &:active {
        cursor: move;
    }
}

.side-button-container {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.side-button {
    display: block;
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: $side-button-color;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 1px 4px 10px rgba(64, 64, 64, 0.1);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.side-button > span {
    display: block;
    font-size: $icon-font-size;
    font-weight: bold;
    color: $icon-color;
    transition: color 0.1s ease-in-out;
}

.side-button:hover > span {
    color: $icon-hover-color;
}

.zoom-container {
    padding: 0;
    display: block;
    background-color: $side-button-color;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 1px 4px 10px rgba(64, 64, 64, 0.1);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#zoom-in-button {
    width: 100%;
    display: block;
    position: relative;
    border-radius: 4px 4px 0 0;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-top: 4px;
    padding-bottom: 4px;

    &:hover {
        cursor: pointer;
    }
}

#zoom-in-button > span {
    display: block;
    font-size: $icon-font-size;
    color: $icon-color;
    transition: color 0.1s ease-in-out;
}

#zoom-in-button:hover > span {
    color: $icon-hover-color;
}

#zoom-out-button {
    width: 100%;
    display: block;
    position: relative;
    border-radius: 0 0 4px 4px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;

    &:hover {
        cursor: pointer;
    }
}

#zoom-out-button > span {
    display: block;
    font-size: $icon-font-size;
    color: $icon-color;
    transition: color 0.1s ease-in-out;
}

#zoom-out-button:hover {
    color: $icon-hover-color;
}

#zoom-out-button:hover > span {
    color: $icon-hover-color;
}

.info-tooltip {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50px;
    padding: 7px 14px 7px 14px;
    color: white;
    background-color: #424242d4;
    cursor: default;
    border-radius: 4px;
    border: none;
    white-space: nowrap;
    box-shadow: 1px 4px 10px rgba(64, 64, 64, 0.1);
    transform: translateY(-50%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 300ms;
    z-index: 2;
}

.side-button:hover .info-tooltip,
#zoom-in-button:hover .info-tooltip,
#zoom-out-button:hover .info-tooltip {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

#settings-overlay {
    display: block;
    position: absolute;
    top: 20px;
    left: 100px;
    width: 275px;
    height: 500px;
    background-color: $container-color;
    border-radius: 9px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 1px 4px 10px rgba(64, 64, 64, 0.1);
    opacity: 0;
    transition: visibility 0s linear 0s, opacity 150ms;
}

#settings-overlay > ul {
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

#settings-overlay > ul > li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

#settings-overlay > ul > li:not(:last-child) {
    border-bottom: 2px solid #adadad;
}

.settings-label {
    flex: 1 0 auto;
    font-size: 20px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#settings-close-button {
    flex: 0 0 auto;
    text-align: center;
    text-decoration: none;
    border: none;
    background: transparent;
    margin: auto;
    padding: 0;

    &:hover {
        cursor: pointer;
    }
}

#settings-close-button > span {
    font-size: 28px;
    color: #ff3737;
    display: block;
}

#settings-close-button:hover > span {
    color: rgb(206, 0, 0);
}

.field-label {
    font-size: 18px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

.dropdown {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 4px;
    padding: 2px 10px;
    border: 1px solid #ececec;
    cursor: pointer;
    position: relative;
}

.section-contaier {
    width: 100%;
}

.dropdown-label {
    flex: 1 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: black;
    display: inline-block;
}

.dropdown-icon {
    font-size: 28px;
    color: gray;
    transition: color 0.2s ease-in-out;

    &--active {
        color: black;
    }
}

.dropdown-options {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #fbfbfb;
    border-radius: 4px;
    border: 1px solid #ececec;
    cursor: pointer;
    padding: 0;
}

.dropdown-options > li {
    display: block;
    padding: 6px 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #ececec;
    }
}

.dropdown-options > li > span {
    font-size: 16px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
